<!-- cart start -->
<section class="py-16 cart">
    <% if(session.cart) {%>

        <!-- cart-product start -->
        <div class="w-1/2 mx-auto">
            <div class="flex items-center border-b pb-4">
                <img src="./img/cart-black.png" alt="">
                <h1 class="text-2xl font-bold ms-4">Order Summary</h1>
            </div>

            <div class="order-list border-b pb-5">
                <% for(let pizza of Object.values(session.cart.items)){ %>
                    <div class="flex items-center justify-between py-5">
                        <div class="flex items-center justify-between">
                            <img src="./img/<%= pizza.item.image%>" alt="" class="w-16 me-4">
                            <div>
                                <h4 class="font-bold text-lg">
                                    <%= pizza.item.name%>
                                </h4>
                                <button class="text-xs text-gray-600 order-remove">
                                    <%= pizza.item.size%>
                                </button>
                            </div>
                        </div>
                        <span>
                            <%= pizza.qty%> pcs
                        </span>
                        <span>₹ <%= pizza.item.price *pizza.qty %></span>
                    </div>
                    <% } %>
            </div>
            <div class="text-end mt-5">
                <h4 class="text-xl mb-10 font-bold">Total Amount: <span class="font-normal text-primary">₹<%=
                            session.cart.totalPrice%></span></h4>
                <form action="/orders" method="POST">
                    <input type="text" name="phone" class="border border-gray-400 px-2 py-1 mb-4 w-1/2 text-sm"
                        placeholder="Phone number">
                    <input type="text" name="address" class="border border-gray-400 px-2 py-1 mb-4 w-1/2 text-sm"
                        placeholder="Address">
                    <div>
                        <% if(user){%>
                            <button class="btn-primary text-white px-2 py-1 rounded-full" type="submit">Order
                                Now</button>
                            <% } else { %>
                                <a href="/login"
                                    class="inline-block btn-primary text-white px-2 py-1 rounded-full">Login to
                                    continue</a>
                                <% } %>
                    </div>
                </form>
            </div>
        </div>
        <!-- cart-product end -->
        <% } else { %>

            <!-- empty-cart start -->
            <div class="container mx-auto text-center" id="empty-cart">
                <h1 class="text-3xl font-bold mb-2">Cart Empty 😕</h1>
                <p class="text-gray-600">You probably haven't ordered a pizza yet.</p>
                <img src="./img/empty-cart.png" alt="" class="mx-auto w-2/6 mt-4">
                <a href="/" class="inline-block mt-6 btn-primary text-white px-3 py-1 rounded-full">Go back</a>
            </div>
            <!-- empty-cart end -->

            <% } %>
</section>
<!-- cart end -->